<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jerrica.GZRoms.theme.black"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.jerrica.GZRoms" android:priority="1"/>

    <application android:label="@string/GZRoms_overlay_black" android:hasCode="false"/>
</manifest>
